<div class="reviews">
  <h2 class="font-bold text-4xl">Reviews</h2>

  <div id="reviews" class="min-w-full">
    <div class="reviews-container border-b border-gray-200">
      <%= render reviews %>
    </div>
    <% if accommodation.available_users_for_reviewing.length > 0 && 
          current_user.is_a_guest_or_admin? &&
          !current_user.already_reviewed_accommodation?(accommodation.id) %>
      <%= render "reviews/new", accommodation: accommodation %>
    <% end %>
  </div>

  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>
