<div class="head">
    <div class="nav">
      <ol>
        <li>
          <span><%= link_to 'Home', root_path %></span>
        </li>
        <li>
          <svg viewBox="0 0 18 18" role="presentation" aria-hidden="true" focusable="false" style="height:10px;width:10px;fill:#767676"><path d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z" fill-rule="evenodd"></path></svg>
        </li>
        <li>
          <span><%= navigation_text %></span>
        </li>
      </ol>
    </div>
  </div>
