<div class="degradado">
  <div>
    <%= render 'shared/navbar' %>
  </div>

  <div class="carrusel">

    <% @images.each do |image| %>
      <div class="slide">
        <%= image_tag image, alt: 'Imagen', class:' rounded-lg' %>
      </div>
    <% end %>
  </div>
</div>