<div class="dark:bg-gray-800 h-auto">
  <div>
    <%= render 'shared/navbar' %>
  </div>
  <div class="content">
    <div class="carrusel">
      <% @images.each do |image| %>
        <div class="slide">
          <%= image_tag image, alt: 'Imagen' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
