 <button class="btn-outline active">Terminan pronto <span>(0)</span></button>
 <button class="btn-outline">Terminan pronto <span>(0)</span></button>
 <button class="btn-outline">Terminan pronto <span>(0)</span></button>
 <button class="btn-outline">Terminan pronto <span>(0)</span></button>
 