<div class="w-dvw">
  <div class= "p-10">
    <h1 class="">Internal server error</h1>
    <p class= "">It looks like someone its going to get fired</p>
  </div>
  <div class= "">
    <%= image_tag("internal_server_error_bg.png", class: "w-full m-0")%>
  </div>
</div>
