<div class=" w-screen h-screen flex justify-center ">
  <div class="flex flex-row h-fit self-center">
    <div class="">
      <h1 class="text-9xl m-0">Oops!</h1>
      <h2>We can't seem to find the page you're looking for.</h2>
      <h6>Error code: 404</h6>
      <ul class="list-unstyled">
        <li style= "color: #190482">Here are some helpful links instead:</li>
        <li><a style="color: #7752FE;" href="/">Home</a></li>
        <li><a style="color: #7752FE;" href="/search">Search</a></li>
        <li><a style="color: #7752FE;" href="/help">Help</a></li>
        <li><a style="color: #7752FE;" href="/help/getting-started/how-to-travel">Traveling on Zzzleepy</a></li>
        <li><a style="color: #7752FE;" href="/info/why_host">Hosting on Zzzleepy</a></li>
        <li><a style="color: #7752FE;" href="/trust">Trust &amp; Safety</a></li>
        <li><a style="color: #7752FE;" href="/sitemaps">Sitemap</a></li>
      </ul>
    </div>
    <div class="">
      <%= image_tag("404-Airbnb_final.gif", width: "313", height: "428", alt: "Girl has dropped her ice cream.")%>
    </div>
  </div>
</div>
