/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.sign-up.row {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  height: 100vh;
}

.sign-up .left-side,
.sign-up .right-side {
  flex: 1;
}

.sign-up .right-side {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: flex-start;
  padding: 25px;
}

.sign-up .title {
  font-size: 32px;
  color:black;
  font-weight: bold;
}

.sign-up .field {
  display: flex;
  flex-direction: column;
  gap: 2.5px;
}

.btn-primary {
  color:white;
  font-size: 14px;
  background-color: #190482;
  width: 100%;
  border-radius: 5px;
  padding: 15px 25px;
}

.btn-primary:hover {
  cursor:pointer;
}

.sign-up form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sign-up label {
  color:#1D1C3F;
  font-size: 14px;
  font-weight: bold;
}

.form-input {
  border:1px solid #1D1C3F;
  border-radius: 5px;
  padding: 7.5px;
  font-size: 12px;
  color: #1D1C3F;
}