.filter {
  background-color: #F3F4F6;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.filter-title,
.filter-form {
  width: 100%;
}

.data-accomodations {
  align-items: center;
  flex-direction: column;
}

.form-group,
.range-slide {
  margin-bottom: 1rem;
  width: 100%;
}

.range-slider {
  width: calc(100% - 2rem);
}


@media (min-width: 481px) {
  .data-accomodations {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-group,
  .range-slide {
    width: calc(50% - 2rem);
  }
}

@media (min-width: 769px) {

  .filter-title {
    flex-grow: 1;
    width: auto;
  }

  .filter-form {
    flex-grow: 2;
  }

  .data-accomodations {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .form-group,
  .range-slide {
    width: calc(33.333% - 2rem);
  }

  .form-group {
    margin: 0 1rem 1rem 0;
  }
}
