/* Estilo general para el contenedor */
/* Estilo para el contenedor */
.container {
    max-width: 70%;
    margin: 5% auto 0; 
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: white;
  }
  
  a.back-link {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #C2D9FF;
    color: #190482;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
  }
  
  a.back-link:hover {
    background-color: rgb(116, 141, 223);
  }
  
  form {
    margin-bottom: 20px;
  }
  

  form select,
  form textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ced4da;
  }
  
  form button {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #190482;
    color: 190482;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  form button:hover {
    background-color: #190482;
  }