.pagy {
  display: flex;
}

.pagy > :not([hidden]) ~ :not([hidden]) {
  --space-reverse: 0;
  margin-left: calc(0.25rem * calc(1 - var(--space-reverse)));
  margin-right: calc(0.25rem * var(--space-reverse));
}

.pagy {
  color: rgb(107 114 128);
  font-family: sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
}

.pagy .page.gap {
  /* if you need to customize it */
}

.pagy .page a {
  background-color: rgb(229 231 235);
  border-radius: 0.5rem;
  color: inherit;
  display: block;
  padding: 0.25rem 0.75rem;
  text-decoration: none;
}

.pagy .page a:hover {
  background-color: rgb(209 213 219);
}

.pagy .page.active a {
  background-color: rgb(156 163 175);
  color: rgb(255 255 255);
  cursor: default;
}

.pagy .page.disabled a {
  background-color: rgb(243 244 246);
  color: rgb(209 213 219);
  cursor: default;
}

.pagy .pagy-combo-input, .pagy.pagy-items-selector-js {
  background-color: rgb(229 231 235);
  border-radius: 0.5rem;
  display: inline-block;
  padding: 0.125rem 0.75rem;
  white-space: nowrap;
}

.pagy .pagy-combo-input input, .pagy.pagy-items-selector-js input {
  background-color: rgb(243 244 246);
  border-radius: 0.375rem;
  border-style: none;
  line-height: 1.5rem;
}
