.places-list {
  .slider-wrapper {
    margin: auto;
    padding: 50px 0;
    position: relative;
  }

  .slider-container {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .slider {
    display: flex;
  }

  .slider-items {
    display: flex;
    gap: 25px;
    transition: transform 0.5s ease;
  }

  .slider-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }

  .slider-item img {
    height: 70px;
    width: 70px;
  }

  .prev-button,
  .next-button {
    align-items: center;
    border: 1px solid black;
    border-radius: 100px;
    color: black;
    cursor: pointer;
    display: flex;
    font-size: 33px;
    height: 29px;
    justify-content: center;
    padding: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 29px;
  }

  .prev-button {
    display: none;
    left: -30px;
  }

  .next-button {
    right: -30px;
  }

  .next-button svg,
  .prev-button svg {
    flex-grow: 1;
  }

  .categorie-title {
    color: #717171;
    font-size: 12px;
    font-weight: 500;
  }

  .categorie-title.active {
    border-bottom: 3px solid black;
    color: black;
    font-size: 14px;
    font-weight: bolder;
    padding-bottom: 10px;
  }

  p {
    margin: 0;
  }

  .taxes-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 0 25px 0;
  }

  .taxes-container {
    align-items: center;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 60%;
  }

  .taxes-wrapper .text-wrapper {
    align-items: center;
    display: flex;
    gap: 15px;
    justify-content: center;
  }

  .taxes-title {
    color: black;
    font-size: 16px;
    font-weight: 500;
  }

  .taxes-text {
    border-left: 1px solid #858585;
    color: #858585;
    font-size: 16px;
    font-weight: 500;
    padding-left: 15px;
  }

  .toggle-button {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }

  .toggle-input {
    display: none;
  }

  .toggle-label {
    background-color: #b0b0b0;
    border-radius: 34px;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color 0.3s;
  }

  .toggle-label::before {
    background-color: white;
    border-radius: 50%;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: transform 0.3s;
    width: 26px;
  }

  .toggle-input:checked + .toggle-label {
    background-color: #190482;
  }

  .toggle-input:checked + .toggle-label::before {
    transform: translateX(26px);
  }

  .gallery-wrapper {
    background-color: #d9d9d9;
    border-radius: 12px;
    min-height: 320px;
    position: relative;
  }

  .gallery-wrapper .carousel,
  .gallery-wrapper .carousel-inner,
  .gallery-wrapper .carousel-item {
    height: 100%;
  }

  .gallery-wrapper .carousel-item.active {
    align-items: center;
    display: flex !important;
    justify-content: center;
  }

  .gallery-wrapper .carousel-item img {
    height: 100%;
    width: 100%;
  }

  .carousel-indicators [data-bs-target] {
    border-radius: 100%;
    height: 7.5px;
    width: 7.5px;
  }

  .carousel-control-prev svg,
  .carousel-control-next svg {
    height: 16px;
    width: 16px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    align-items: center;
    background: white;
    border-radius: 100%;
    color: black;
    display: flex;
    font-size: 16px;
    height: 30px;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
  }

  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    color: black;
  }

  .carousel-control-prev:focus,
  .carousel-control-next:focus {
    color: black;
  }

  .carousel-control-prev {
    left: 5px;
  }

  .carousel-control-next {
    right: 5px;
  }

  .like-this {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 7.5px;
    top: 7.5px;
  }

  .like-this svg {
    height: 25px;
    width: 25px;
  }

  .like-this path {
    fill: rgba(0, 0, 0, 0.5);
    stroke: #fff;
    stroke-width: 1px;
  }

  .gallery-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .gallery-header {
    display: flex;
    justify-content: space-between;
  }

  .places-wrapper {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 50px;
  }

  .star-wrapper {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: center;
  }

  .place-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .gallery-title {
    font-size: 18px;
    font-weight: 600;
  }

  .general-info {
    font-size: 14px;
    font-weight: 400;
  }
}
