.reservations {
  padding: 2rem 0;

  .reservations-buttons {
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    color: black;
    display: flex;
    font-weight: 500;
    gap: 0.5rem;
    padding: 1rem 1rem;
    width: 100%;
  }
  
  .reservations-buttons:hover {
    background-color: rgb(247, 247, 247);
    color: black !important;
  }

  .reservations-buttons.no-border {
    border: none;
  }

  .buttons-wrapper {
    display: flex;
    flex-direction: column;
  }

  .border-b-none {
    border-bottom: none;
  }

  .ts-control {
    border:none;
    padding: 0;
  }
  
  .prose :where(p):not(:where([class~="not-prose"] *)) {
    margin: 0;
  }

  .sub-subtitle {
    color: black;
    font-size: 14px;
    font-weight: 500;
  }

  p {
    margin: 0;
  }

  .bold {
    font-weight: 800;
  }

  .red {
    color: red;
  }

  .gray {
    color: #717171;
  }

  .title {
    color: black;
    font-size: 36px;
  }

  .card {
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 50px 0;
    padding: 20px;
    width: fit-content;
  }

  .d-flex {
    align-items: center;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
  }

  .filters-wrapper {
    align-items: center !important;
    flex-direction: row !important;
    gap: 50px !important;
    justify-content: space-between !important;
  }

  .filters-container {
    align-items: center;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
  }

  a {
    text-decoration: underline;
  }

  .buttons-container {
    display: flex;
    gap: 10px;
    margin: 25px 0;
  }

  .btn-outline {
    border: 2px solid #e8e8e8;
    border-radius: 100px;
    color: #717171;
    font-weight: 400;
    padding: 5px 15px;
  }

  .reservations-status {
    align-items: center;
    background-color: #eaeaea;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    padding: 50px;
    width: 100%;
  }

  .m-30 {
    margin: 50px 0 15px 0;
  }

  .cards-wrapper {
    display: flex;
    gap: 10px;
  }

  .cards-wrapper .card {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: space-between;
    margin: 0;
  }

  .cards-wrapper .sub-subtitle {
    max-width: 250px;
  }

  .resources-wrapper {
    display: flex;
  }

  .resource-wrapper {
    flex: 1;
  }

  .resources-wrapper .card-body {
    padding: 25px 15px;
  }

  .resource-wrapper {
    display: flex;
    gap: 15px;
  }

  .resource-wrapper .card {
    flex: 1;
    margin: 0;
  }
}

.reservations .btn-outline.active {
  border: 2px solid black;
}

#reservations {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem 0 0 0;
  padding-bottom: 50px;
}

.reservation-container {
  background-color: rgba(211, 211, 211, 0.363);
  border-radius: 25px;
  padding: 1rem;
  text-decoration: none;            
  transition: color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.reservation-container:hover,
.reservation-container:focus {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
}

.inline input[type="submit"]:hover {
  text-decoration: underline;
}

.inline input[type="submit"]:hover {
  color: black;
}

.underline-on-hover:hover {
  text-decoration: underline;
}

.black-text {
  color: black;
}
