@media (max-width: 768px) {
  .sign-up.row {
    flex-direction: column;
  }

  .left-side {
    display: none;
  }

  .right-side {
    flex: none;
    padding: 0 20px;
    width: 100%;
  }

  .sign-up .right-side {
    align-items: center;
  }

  .sign-up .title {
    font-size: 24px;
  }

  .form-input,
  .btn-primary {
    padding: 10px;
  }

  .btn-primary,
  .btn-google,
  .btn-facebook {
    padding: 15px 25px;
  }

  .field,
  .actions,
  .links-wrapper {
    margin: 10px 0;
  }

  .sign-up form {
    gap: 10px;
  }

  .links-wrapper {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
  }

  .links-wrapper .sign-in-link {
    padding: 8px;
  }

  .places-list .places-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .places-list .taxes-container {
    width: 100%;
  }

  .places-list .next-button {
    right: 0;
  }

  .places-list .prev-button {
    left: 0;
  }

  .places-list .places-wrapper {
    padding-bottom: 25px;
  }

  .reservations .btn-outline {
    width: 48%;
  }

  .reservations .buttons-container {
    flex-wrap: wrap;
  }

  .reservations .cards-wrapper {
    flex-direction: column;
  }

  .reservations .cards-wrapper .card {
    width: 100%;
  }

  .reservations .resource-wrapper {
    flex-direction: column;
  }
}
